[2018-06-02 01:37] gazhayes opened #2 "Problem: Emurpas will be using a LOT of forms"
Problem: Emurpas will be using a LOT of forms. The forms will be very dynamic, like Blockrazor's addcoin form on steroids. The real problem here is I don't know the most efficient way to deal with this.

Autoform might help, but it looks quite painful to use if you aren't using client side db writes with allow/deny.

Anyone have any ideas? ping @anbud @AshHimself @samuelralak @geekyd

[2018-06-08 14:11] gazhayes commented on #2
@anbud could you see if you can work out if you can use autoform with validated-method and simplschema and come up with a standard process for making forms?

[2018-06-08 14:28] gazhayes commented on #2
Thanks!

[2018-06-09 19:30] anbud commented on #2
So, basically, I've managed to successfully use AutoForm with validated-method and simpl-schema.

After fixing all the bugs, it became easy to create new forms, and I've included an example form with all required steps and lots of possible options in #3 that can be used as a reference.

Form creation using this method can be divided into 5 steps:
- Define a new collection that will be used by the

[2018-06-10 01:32] gazhayes commented on #2
I'm just going through the code now, damn it's good. I'll write up a quick how-to for the style guide. We should use this across all projects whenever we use forms.

[2018-06-10 09:58] gazhayes opened #4 "Problem: coreUI not used"
Problem: coreUI not used

Solution: implement coreUI.

[2018-06-10 09:58] gazhayes commented on #4
ping @samuelralak

[2018-06-11 07:18] samuelralak commented on #4
@emurgobot claim

[2018-06-11 08:18] AshHimself commented on #4
I think a different color per application will offer some sorta brand and
easy identification between all of them.

On Mon, Jun 11, 2018 at 3:23 PM Samuel Ralak <notifications@github.com>
wrote:

[2018-06-11 09:40] gazhayes commented on #4
Hmmm, I guess a different colour scheme just to distinguish it a bit.

[2018-06-11 09:42] samuelralak commented on #4
agreed

[2018-06-12 07:03] Ayanrocks opened #5 "Problem: The UI is ugly and needs to fixed"
Problem : the UI is ugly and needs to be fixed by adding some paddings and a title at the top

[2018-06-12 07:04] Ayanrocks commented on #5
@emurgobot claim

[2018-06-12 07:07] samuelralak opened #6 "Problem: Emurgobot is not tracking Emurpas"
Problem: Emurgobot doesn't seem to track the Emurpas repository making all @emurgobot  commands unresponsive.

Solution: Add Emurpas to the list of Emurgobot tracked repos

ping @gazhayes @anbud

[2018-06-12 07:11] Ayanrocks commented on #5
@emurgobot label "done"

[2018-06-12 08:28] #5 closed

[2018-06-12 19:41] anbud commented on #6
I'll fix it.

[2018-06-12 20:39] anbud commented on #6
@emurgobot claim

[2018-06-12 20:39] anbud commented on #6
@emurgobot label "done"

He's here. :D

[2018-06-12 20:40] anbud commented on #6
@emurgobot label "done"

[2018-06-13 07:03] samuelralak commented on #6
sweet

[2018-06-13 07:03] #6 closed

[2018-06-13 07:03] samuelralak commented on #4
@emurgobot claim

[2018-06-13 15:06] samuelralak commented on #4
@emurgobot label "done"

[2018-06-13 15:09] samuelralak commented on #4
@anbud this guy here @emurgobot is still not responding

[2018-06-13 15:11] anbud commented on #4
I'll check it out. :)

[2018-06-13 15:16] anbud commented on #4
@emurgobot remove "done"

[2018-06-13 15:17] anbud commented on #4
@emurgobot remove "done"

[2018-06-13 15:23] anbud commented on #4
@gazhayes, did you happen to change @emurgobot's password? I've checked the logs, and it's saying that provided credentials are invalid.

[2018-06-13 15:26] samuelralak opened #9 "Problem: no logo for Emurpas"
Problem: Emurpas does not have a logo. Need one that blends with the Emurpas UI.

ping @gazhayes

[2018-06-14 01:47] gazhayes commented on #4
Oh damn, yes I did. Oops. I'll fix it up.

[2018-06-14 01:48] gazhayes commented on #9
Claim

[2018-06-14 03:27] gazhayes commented on #9
@emurgobot claim

[2018-06-14 03:29] gazhayes commented on #9
@emurgobot done

[2018-06-14 03:29] gazhayes commented on #9
@emurgobot claim

[2018-06-14 03:31] gazhayes opened #10 "problem: emurgobot does not add labels when claiming an issue"
problem: emurgobot does not add labels when claiming an issue

solution: on blockrazor it adds 'in progress' when claiming an issue, if @anbud doesnt take this over the next few days I'll look at it.

[2018-06-14 03:31] #4 closed

[2018-06-14 03:31] gazhayes commented on #4
@anbud I fixed the password

[2018-06-14 08:19] anbud commented on #10
I thought this was intentional behavior. :)
I think I know how to fix it, I'll take a look.

@emurgobot claim

[2018-06-14 12:46] anbud commented on #10
@emurgobot claim

[2018-06-14 12:48] anbud commented on #10
@emurgobot claim

[2018-06-14 12:51] anbud commented on #10
@emurgobot claim

[2018-06-14 12:52] anbud commented on #10
@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-14 12:57] anbud commented on #10
@emurgobot label "done"

[2018-06-16 10:06] samuelralak commented on #9
@emurgobot label "in progress"

[2018-06-16 11:59] samuelralak commented on #9
sweet. adding it to the Project

[2018-06-16 11:59] #9 closed

[2018-06-16 12:01] samuelralak opened #11 "Problem: logo not used in Emurpas"
Problem: Emurpas logo provied by @gazhayes in issue #10 is not being used.

Solution: Add logo asset to Emurpas and set it as the brand header

[2018-06-16 12:01] samuelralak commented on #11
@emurgobot claim

[2018-06-17 10:34] samuelralak commented on #11
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-17 10:35] samuelralak commented on #11
done in #12

[2018-06-17 10:39] samuelralak opened #13 "Problem: No test framework added to Emurpas"
Problem: Client side and server side tests have not yet been added to Emurpas. It would be nice if we have these implemented from the very beginning.

Solution: Implement travis CI server side and client side tests

ping @anbud

[2018-06-17 18:00] anbud commented on #13
Done in #14.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-06-17 20:01] #13 closed

[2018-06-19 10:18] gazhayes opened #15 "problem: node-sass v3.13.0 in use but too old"
problem: node-sass v3.13.0 is too old to work with node 8 and it fails in production.

solution: update to latest version of node-sass. This appears to be a dependency of fourseven:scss@3.13.0

[2018-06-19 12:04] samuelralak commented on #15
@emurgobot claim

[2018-06-19 16:46] gazhayes commented on #15
@samuelralak  I've fixed this in #16

[2018-06-19 16:46] gazhayes commented on #15
Sorry I forgot to claim it before working on it!

[2018-06-19 16:47] samuelralak commented on #15
its alright 👍

[2018-06-19 16:48] #15 closed

[2018-06-19 16:52] gazhayes opened #17 "problem: no auth system"
problem: users cannot create accounts and sign in.

Solution: implement user accounts. Use email sign in.

[2018-06-19 17:02] gazhayes opened #18 "Problem: forms must be broken up into modules"
problem: we have to somehow deploy forms based (loosely) on this (incomplete) spreadsheet: https://docs.google.com/spreadsheets/d/18_9Yfvlq9K6S7YigNr-m86SFba1hryZGIoIoRnCSz7E/edit#gid=2088537886

The idea of Emurpas is really to allow teams to apply to our accelerator program and then process these applications internally (different parts of the application will be processed by different people ba

[2018-06-19 18:39] samuelralak commented on #17
@emurgobot claim

[2018-06-20 12:13] samuelralak commented on #17
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-20 12:13] samuelralak commented on #17
done in #19

[2018-06-20 12:36] samuelralak commented on #18
quick question, looking at the spreadsheet, will users be expected to fill all questions in one sitting, similar to  the `addCoin` form in blockrazor?

Either way, I strongly think that a form wizard will be necesary, with the ability to save progress.

1. progress can be reviewed before a user is allowed to move on to the next part or
2. users can complete filling in the entire form with all step

[2018-06-20 16:16] samuelralak opened #20 "Problem: auth isn't tested"
Problem: no tests have been written for login and sign up.

Solution: Write client side tests for login and sign up

[2018-06-20 16:17] samuelralak commented on #20
@emurgobot claim

[2018-06-20 16:17] samuelralak commented on #20
@emurgobot label "in progress"

[2018-06-21 01:14] gazhayes commented on #18
Absolutely, in fact that's why I logged the auth system issue first.

It's a bit more complicated than just a form wizard though, some entire form 'modules' or 'steps' might have to be instantiated based on previous answers (instead of just some elements).

There's also stuff like this: when users start filling out a form to apply for our accelerator program, they might have x team members for the

[2018-06-21 16:15] samuelralak commented on #20
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-06-21 16:15] samuelralak commented on #20
done in #21

[2018-06-21 21:10] #20 closed

[2018-06-24 09:29] #17 closed

[2018-06-25 07:07] samuelralak commented on #18
We can have users fill in the emails and respective roles of their team members, once submitted we could send invitation emails to each one of them. I think we may also need to have an accounts or teams collection so that it may be easy to track members belonging to a specific team/account. Not sure whether to name it team or account.

aah I see, this would mean that forms/steps would have to be p

[2018-07-10 11:13] gazhayes opened #23 "Problem: incorrect form questions"
Problem: the form questions are incorrect.

Solution: add questions based on the following spreadsheet: https://docs.google.com/spreadsheets/d/1cEBKwKAyWEj4D_buSPGmYz-ZukQl4dXslpjwqyVEYfo/edit?usp=sharing

Follow the pattern used by @anbud in #3

[2018-07-10 13:03] samuelralak commented on #23
@emurgobot claim

[2018-07-13 09:30] gazhayes opened #24 "problem: user question form not added to emurpas"
problem: personal questions for each team member have not been added to emurpas.

solution: add a new form with questions from this spreadsheet: https://docs.google.com/spreadsheets/d/1fWSo7UQGtooUYRBXRBTuQ7lpmVgdnD4vq4-ukz33KX4/edit?usp=sharing

The results from this form should go into it's own collection.

[2018-07-13 09:31] gazhayes commented on #24
ping @AshHimself @anbud @geekyd @chamidu-supeshala this project is going to start getting pretty active now so it's worth watching out for issues.

[2018-07-13 09:35] anbud commented on #24
@emurgobot claim

[2018-07-13 23:20] samuelralak commented on #23
@emurgobot remove "in progress"
@emurgobot label "done"

done in #25

[2018-07-13 23:23] samuelralak opened #26 "Problem: ProjectQuestions is untested"
Problem: There are no tests written for ProjectQuestions, allowing room for breaking changes

Solution: Write client side and server side tests for ProjectQuestions

[2018-07-13 23:23] samuelralak commented on #26
@emurgobot claim

[2018-07-14 21:45] anbud commented on #24
Done in #27.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-15 13:23] #23 closed

[2018-07-15 13:23] #24 closed

[2018-07-28 21:06] anbud commented on #26
@emurgobot claim

[2018-07-28 21:36] anbud commented on #26
Done in #28.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-07-29 04:39] gazhayes opened #29 "problem: logged out users can see forms"
problem: logged out users can see forms

solution: move the application form to a new route (instead of the home route) and redirect logged-out users to the login page if they attempt to access the application form or the user details form.

[2018-07-29 04:41] samuelralak commented on #29
@emurgobot claim

On Sun, 29 Jul 2018 at 07:39, Gareth Hayes <notifications@github.com> wrote:

[2018-07-29 04:57] #26 closed

[2018-07-29 06:09] #29 closed

[2018-07-29 06:11] gazhayes opened #31 "problem: forms are too large"
problem: the forms used on Emurpas are large and discouraging.

solution: break forms up into multiple steps.

[2018-07-29 11:33] samuelralak commented on #31
@emurgobot claim

On Sun, 29 Jul 2018 at 09:11, Gareth Hayes <notifications@github.com> wrote:

[2018-08-02 07:45] gazhayes commented on #31
Hey @samuelralak how you going with this one?

[2018-08-02 08:25] gazhayes commented on #31
OK cool. Did you have a look at the one used on Blockrazor?

No rush with this then, I'd rather that you take the time to make a good decision so that it doesn't create additional problems and spaghetti code later on.

[2018-08-02 08:43] samuelralak commented on #31
Yes sir, I did checkout the one used on Blockrazor. My initial thoughts were to have something extensible and would integrate seamlessly with what we already have without making too many changes e.g further breaking down our collections.

[2018-08-02 08:54] gazhayes commented on #31
We should probably insert/update each field onBlur so that users can close the window and resume at any time. I'm not sure if that helps with your decision or not.

[2018-08-12 12:34] samuelralak commented on #31
aah there you are champ. yes am still working on it. almost done

On Sun, 12 Aug 2018 at 15:33, Emurgo Bot <notifications@github.com> wrote:

[2018-08-22 09:24] samuelralak opened #33 "problem: Completing new application not redirecting user to new page"
problem: when user completes the final step, user is not redirected to a seperate page or notified that the process has been complete.

solution: redirect user to a different page possibly `completed` applications, notify user that the process is complete and destroy wizard. save wizard progress as complete

[2018-08-22 09:27] samuelralak opened #34 "problem: user cannot view in-progress forms"
problem: without knowing the application id, there is no way for users to view their in-progress application forms.

solution: create an `in progress` page where user can access saved or in-progress application forms

[2018-08-22 09:29] samuelralak opened #35 "problem: user able to start a new application while another is in progress"
problem: users can easily start a new application when there is still a pending application form.

solution: restrict user to only one application at a time. prevent user from filling in a new application when already completed or still in-progress

[2018-08-22 09:30] samuelralak opened #36 "problem: user-info form too large"
problem: the user-info form is too large.

solution: use meteor-wizard to break down the UserInfo form. Follow same process as `new applications/project` form

[2018-08-22 09:40] samuelralak commented on #36
@emurgobot claim

[2018-08-23 05:24] AshHimself opened #37 "Problem: Bad UX on login page"
Problem: Bad UX on login page, text is not responsive to the login box and not working at all on mobile.

Solution: Clean up UX and add mobile responsiveness code

[2018-08-23 05:55] AshHimself commented on #37
Fixed in #38
@emurgobot label "done"
@emurgobot done

[2018-08-23 07:40] AshHimself commented on #35
@emurgobot claim

[2018-08-23 07:40] AshHimself opened #39 "problem: can not see saved applications"
problem: can not see saved applications, i've saved one, it exists in MongoDB but my homepage is EMPTY!!!

solution: tbc

[2018-08-23 07:41] samuelralak commented on #39
@AshHimself logged this one already #34

[2018-08-23 07:48] samuelralak opened #40 "problem: emurgobot is unresponsive"
problem: our friend @emurgobot doesn't seem to work on emurpas. not sure if this issue is only limited to emurpas - calling @emurgobot commands here don't seem to do anything. must be asleep.

ping @gazhayes

[2018-08-23 07:49] AshHimself commented on #34
@emurgobot claim

[2018-08-23 08:00] AshHimself commented on #40
@gazhayes is sipping on cocktails on some island still. He doesn't care about bots :D

[2018-08-23 08:15] gazhayes commented on #40
I'm.... I'm not, I swear!

[2018-08-23 08:48] AshHimself commented on #39
oops, already started fixing, have you? I claimed other. let me know and i'll

[2018-08-23 08:51] samuelralak commented on #40
lol, we believe you mate

On Thu, 23 Aug 2018 at 11:15, Gareth Hayes <notifications@github.com> wrote:

[2018-08-23 08:51] samuelralak commented on #39
no worries. I haven’t touched it.

On Thu, 23 Aug 2018 at 11:48, Ash Smith <notifications@github.com> wrote:

[2018-08-23 08:53] AshHimself commented on #39
Duplicate

[2018-08-23 08:53] #39 closed

[2018-08-23 10:14] AshHimself commented on #34
@samuelralak - what do you mean without knowing the id? you can view it now? what view?

[2018-08-23 10:44] samuelralak commented on #34
@AshHimself when user creates a new application, a unique id is created which is then used to track subsequent application steps i.e `http://emurpas.org/applications/32fWn2And3PRy6Se5` in this case the id is `32fWn2And3PRy6Se5`. As it is now, without the user knowing this id, there is no way for the user to resume progress if by any chance he/she navigates away from the wizard.

[2018-08-24 07:17] #36 closed

[2018-08-24 13:48] samuelralak commented on #33
not added any new views. waiting on changes from #34

[2018-08-24 13:51] AshHimself commented on #33
PR inbound shortly

[2018-08-24 13:52] samuelralak opened #43 "problem: no server side tests for FormProgress methods"
problem: no server side tests have been added for FormProgress methods

solution: add server side tests for `updateFormProgress` method

[2018-08-24 13:55] samuelralak opened #44 "problem: no client side tests added for wizard forms"
problem: no client side tests have been included for both the new project and userInfo wizard forms.

solution: add client side tests for:
- [x] new application wizard
- [x] userInfo wizard

[2018-08-24 15:12] samuelralak commented on #43
@emurgobot claim

[2018-08-24 15:12] #33 closed

[2018-08-24 16:52] samuelralak commented on #43
done in #45

[2018-08-24 23:32] anbud opened #47 "Problem: Exceptions spam console when using wizard forms"
Problem: The following exception spams the console when using wizard forms:
[code]
It doesn't seem to affect the functionality.

Solution: Find what's causing it and fix it.

[2018-08-24 23:33] anbud commented on #44
Should be done in #46 if CI becomes green. :)

[2018-08-25 07:42] #43 closed

[2018-08-25 07:43] #44 closed

[2018-08-26 00:01] gazhayes commented on #47
ping @samuelralak

[2018-08-26 00:01] #31 closed

[2018-08-26 03:41] AshHimself commented on #34
@samuelralak - Do you have a flag to imply that an application is complete and no longer in progress?

[2018-08-26 03:41] AshHimself commented on #34
I suppose I could check if team members exist then an application is considered 'in progress'

[2018-08-26 04:29] samuelralak commented on #47
I maye have an idea whats going on here.

[2018-08-26 05:37] AshHimself commented on #34
Fixed in #48
@emurgobot label "done"
@emurgobot done

@samuelralak - thinking we need a way to view completed applications as well? Viewing in progress works for viewing completed was not working for me.

[2018-08-26 08:35] #37 closed

[2018-08-26 09:05] samuelralak commented on #34
yes, we can actually do that with what we already have. will create an issue in a bit to build upon this.

@gazhayes will users be allowed to have multiple project applications?

[2018-08-26 09:14] samuelralak opened #49 "Problem: clicking on saved applications in home is unresponsive"
Problem: The homepage currently lists all saved applications but there is currently now way  for users to resume the application progress. Clicking on the saved application in home doesn't do anything.

Solution: List applications with their respective statuses - whether incomplete or in progress - and render a button or link that would:
- resume application if incomplete
- view application if com

[2018-08-26 09:14] samuelralak commented on #49
@emurgobot claim

[2018-08-26 11:55] AshHimself commented on #49
dang it, I did have this working but when I added the resume button I removed it but forgot to put it back in :)

[2018-08-27 08:31] gazhayes commented on #40
The VPS probably expired, I'll just move it to our emurgo infrastructure instead.

[2018-08-30 10:47] gazhayes opened #52 "problem: user is not prompted to fill out user question section"
problem: user is not prompted to start filling out the personal question section after completing the application question section.

Solution: show a modal or something to tell the user that the application has been received and that they will now be directed to answer questions about themselves. When they click ok send them to the personal question form.

[2018-08-30 10:54] gazhayes opened #53 "problem: invalid validation"
problem: this isn't validating correctly, this is a valid entry.

<img width="698" alt="screen shot 2018-08-30 at 6 53 11 pm" src="https://user-images.githubusercontent.com/8143945/44847424-0be5ba00-ac86-11e8-8169-9fd5a8e09896.png">

[2018-08-30 10:57] gazhayes opened #54 "problem: additional team members are treated like new users when the create an account"
problem: additional team members are treated like new users when they create a new account.

Additional team members are those who are added on this form element:
<img width="1407" alt="screen shot 2018-08-30 at 6 55 00 pm" src="https://user-images.githubusercontent.com/8143945/44847574-7f87c700-ac86-11e8-8e85-799c7396e448.png">

solution: additional team members should be directed straight to the

[2018-08-30 10:59] gazhayes opened #55 "problem: no moderator section to view applications"
problem: no moderator section to view applications

solution: add a basic moderator section and set a flag on the user collection (or something). Allow moderator to promote other users to moderators.

[2018-08-30 15:12] anbud commented on #55
Done in #56.

`moderator` field in the user object should be set to `true` if the user is a moderator.

[2018-08-30 15:13] anbud commented on #54
@emurgobot claim

[2018-08-30 15:58] anbud commented on #54
Done in #57.

[2018-08-31 11:05] anbud commented on #52
Done in #58.

[2018-08-31 11:34] anbud commented on #53
Fixed in #59.

[2018-09-01 12:33] #53 closed

[2018-09-01 12:33] #52 closed

[2018-09-01 12:34] #35 closed

[2018-09-01 17:28] samuelralak commented on #49
done in #60

[2018-09-02 04:26] samuelralak commented on #34
nop. its no longer needed. if any modifications will be required in future,
we could always open another issue.

On Sun, 2 Sep 2018 at 07:25, Ash Smith <notifications@github.com> wrote:

[2018-09-02 04:32] gazhayes commented on #34
Definitely not

[2018-09-02 04:34] samuelralak commented on #34
@gazheyes i’ll create an issue for that patch

On Sun, 2 Sep 2018 at 07:32, Gareth Hayes <notifications@github.com> wrote:

[2018-09-02 15:07] #34 closed

[2018-09-02 15:07] #49 closed

[2018-09-02 15:11] samuelralak opened #61 "problem: created at and updated at dates in homepage not properly formatted"
problem: the created_at and updated_at fields on the home page are not properly and still shown as unix timestamps

solution: use moment to properly format dates and timestamps

[2018-09-02 15:11] samuelralak commented on #61
@emurgobot claim

[2018-09-02 15:36] samuelralak commented on #61
done in #62

[2018-09-04 19:33] geekyd opened #63 "problem: User able to submit form when terms not agreed"
problem: User able to submit form when terms not agreed

Solution: User should only be able to submit if the terms are agreed

[2018-09-04 19:33] geekyd commented on #63
@emurgobot claim

[2018-09-04 20:32] geekyd commented on #63
Done in #64

[2018-09-04 21:15] #63 closed

[2018-09-06 07:44] gazhayes commented on #61
@emurgobot claim

[2018-09-10 08:29] Pagebakers commented on #47
[code]

Seems to do the trick :) Hopefully @aldeed will fix this soon

[2018-09-11 07:33] gazhayes commented on #40
@emurgobot claim

[2018-09-11 07:34] gazhayes commented on #40
WTF it was working before

[2018-09-11 14:53] gazhayes commented on #47
Hey @Pagebakers do you happen to be looking for freelance work?

[2018-09-11 14:59] anbud commented on #40
This one is done.

@emurgobot label "done"

[2018-09-11 15:41] #40 closed

[2018-09-14 05:25] AshHimself opened #66 "problem: scroll at bottom on application"
problem: scroll at bottom on application when clicking next

solution: scroll to top when clicking next.

[2018-09-14 05:53] AshHimself commented on #66
@emurgobot claim

[2018-09-14 05:53] AshHimself commented on #66
wow this issue confused me, I couldn't find the call back to only return to top on success but adding it on the submit handle for some reason is only called on success.. #yolo

[2018-09-16 04:11] gazhayes opened #69 "problem: outdated bootstrap version used, has vulnerabilities"
problem: outdated bootstrap version used, has vulnerabilities

[2018-09-16 06:49] samuelralak commented on #69
@emurgobot claim

On Sun, 16 Sep 2018 at 07:11, Gareth Hayes <notifications@github.com> wrote:

[2018-09-16 11:17] samuelralak commented on #69
@emurgobot remove "in progress"
@emurgobot label "done"

fixed in #70

[2018-09-16 14:09] gazhayes opened #71 "problem: master is broken"
check emurpas.org for more details.

[2018-09-16 14:48] samuelralak commented on #71
@emurgobot claim

[2018-09-16 22:27] samuelralak commented on #71
@emurgobot label "done"
@emurgobot remove "in progress"

done in #72

[2018-09-21 11:58] #71 closed

[2018-09-21 11:58] #69 closed

[2018-09-21 11:59] gazhayes opened #73 "problem: moderators cannot view applications"
problem: moderators cannot view applications

[2018-09-21 12:00] samuelralak commented on #73
@emurgobot claim

On Fri, 21 Sep 2018 at 14:59, Gareth Hayes <notifications@github.com> wrote:

[2018-09-25 13:31] gazhayes commented on #73
Hey @samuelralak how are you going with this one?

[2018-09-25 13:33] samuelralak commented on #73
@gazhayes submitting a PR later on today.

[2018-09-25 13:34] #66 closed

[2018-09-25 14:07] samuelralak commented on #73
@emurgobot done

[2018-09-25 14:08] samuelralak commented on #73
done in #74

[2018-09-25 14:20] #73 closed

[2018-09-25 14:23] gazhayes opened #75 "problem: moderators cannot promote new moderators"
problem: moderators cannot promote new moderators

solution: I guess the simplest solution right now is to list all users by username and email and allow anyone with moderator privileges to promote anyone else.

[2018-09-25 14:36] samuelralak commented on #75
@emurgobot claim

On Tue, 25 Sep 2018 at 17:24, Gareth Hayes <notifications@github.com> wrote:

[2018-09-26 09:46] gazhayes opened #76 "problem: step 4 in the application process isn't working"
problem: step 4 in the application process isn't working. Users can get to step 3 but cannot go any further. I haven't done any debugging.

[2018-09-26 14:12] geekyd commented on #76
@gazhayes It is working for me locally.

[2018-09-27 12:08] samuelralak commented on #75
someone had already sneaked this feature in. made a few modifications

[2018-09-27 12:09] samuelralak commented on #75
@emurgobot done

done in #77

[2018-09-27 12:09] samuelralak commented on #76
Investigating this @emurgobot claim

[2018-09-27 14:02] samuelralak commented on #76
seems to be working fine online. we can wait and see if anyone else is experiencing the same

[2018-09-27 14:02] samuelralak commented on #76
@emurgobot unclaim

[2018-09-27 20:03] anbud commented on #76
Works for me as well, both on prod and locally.

[2018-09-27 20:39] gazhayes commented on #76
weird

[2018-09-27 20:39] #76 closed

[2018-09-29 23:51] samuelralak opened #78 "problem: bootstrap version has vulnerabilites"
problem: bootstrap version by coreui is outdated and has vulnerabilites

solution: update coreui version

[2018-09-29 23:52] samuelralak commented on #78
@emurgobot claim

[2018-09-29 23:58] gazhayes commented on #78
Can you check all repos for this?

[2018-09-29 23:59] samuelralak commented on #78
@gazhayes yes, checking

[2018-09-29 23:59] samuelralak commented on #78
@emurgobot done

done in #79

[2018-09-30 10:15] #78 closed

[2018-10-02 01:27] #75 closed

[2018-10-02 01:35] gazhayes opened #80 "problem: maintainers cannot rate responses"
problem: maintainers cannot rate responses

solution: allow maintainers to rate each response to each question from 1 to 10. Any number of maintainers should be able to rate each response independently. The ratings should be displayed to other maintainers as well as the applicant.

[2018-10-02 02:44] samuelralak commented on #80
@emurgobot claim

On Tue, 2 Oct 2018 at 04:35, Gareth Hayes <notifications@github.com> wrote:

[2018-10-07 18:03] samuelralak commented on #80
@emurgobot done

done in #81

[2018-10-09 12:34] #80 closed

[2018-11-05 08:14] gazhayes opened #83 "problem: self-populating questions not working"
problem: there are self-populating questions based on the answers given in the radio button list, but these questions are not being updated. I haven't checked, but I'm guessing the code is still there and it's just a UI issue.

<img width="838" alt="screenshot 2018-11-05 at 4 10 10 pm" src="https://user-images.githubusercontent.com/8143945/47985768-b4e0e300-e115-11e8-805d-7644b08c14cb.png">

[2018-11-05 11:54] MadanBhandari commented on #83
I'll look into this :)

@emurgobot claim

[2018-11-05 11:55] MadanBhandari opened #84 "Problem : emurgobot is not working on this repo"
Problem : emurgobot is not working on this repo

ping @gazhayes @anbud

[2018-11-05 13:09] anbud commented on #84
I'll fix it.

[2018-11-05 13:15] anbud commented on #84
@emurgobot label "in progress"

[2018-11-05 13:20] anbud commented on #84
@emurgobot done

[2018-11-05 13:21] anbud commented on #84
I'm not really sure what happened, but turning it off and on again helped. :D

[2018-11-05 15:00] MadanBhandari commented on #84
@emurgobot claim

[2018-11-05 15:01] MadanBhandari commented on #84
@emurgobot done

[2018-11-05 15:02] MadanBhandari commented on #84
Looks like it's working as expected

[2018-11-05 15:02] #84 closed

[2018-11-06 07:47] MadanBhandari commented on #83
@emurgobot done in #85

[2018-11-07 02:30] #83 closed

[2018-11-07 02:30] #47 closed

[2018-11-07 09:30] gazhayes opened #86 "problem: resuming application does not reveal all information"
problem: when resuming an application and clicking 'back' to view previous steps in the form, some fields are missing.

[2018-11-07 09:31] samuelralak commented on #86
checking this out @emurgobot claim

On Wed, 7 Nov 2018 at 12:30, Gareth Hayes <notifications@github.com> wrote:

[2018-11-07 09:42] gazhayes opened #88 "problem: users shown incorrect text on form completion"
problem: users shown incorrect text on form completion

This view is shown to users after completing their personal information.

<img width="890" alt="screenshot 2018-11-07 at 5 39 46 pm" src="https://user-images.githubusercontent.com/8143945/48123208-4e45fb80-e2b4-11e8-873e-0d8cbbd9d546.png">

solution: don't show this text if user has submitted their personal info form.

[2018-11-07 09:46] gazhayes opened #89 "problem: users can still access personal form after submitting it"
problem: users can still access personal form after they've completed and submitted the form.

<img width="769" alt="screenshot 2018-11-07 at 5 42 51 pm" src="https://user-images.githubusercontent.com/8143945/48123411-cca29d80-e2b4-11e8-877a-5630a02bf545.png">

[2018-11-07 09:48] gazhayes opened #90 "problem: not all users associated with an application can view it"
problem: not all users associated with an application can view it

When the person who submits an application form adds other users email addresses, those users cannot see the application form.

solution: let all users associated with the application view (not edit) the application.

[2018-11-07 10:30] gazhayes commented on #90
ping @porcellus just to let you know there's this repo as well

[2018-11-07 18:31] geekyd commented on #89
@emurgobot claiim

[2018-11-07 18:31] geekyd commented on #89
@emurgobot claim

[2018-11-07 18:41] geekyd commented on #89
Done in #92
@emurgobot done

[2018-11-07 23:19] anbud commented on #90
Done in #93.

@emurgobot done

[2018-11-07 23:20] anbud commented on #88
@emurgobot claim

[2018-11-07 23:36] anbud commented on #88
Done in #94.

@emurgobot done

[2018-11-08 00:20] #88 closed

[2018-11-08 00:20] #89 closed

[2018-11-08 00:20] #90 closed

[2018-11-08 04:11] gazhayes opened #95 "problem: logged out users can see private information"
problem: logged out users can see private information

<img width="1487" alt="screenshot 2018-11-08 at 12 05 59 pm" src="https://user-images.githubusercontent.com/8143945/48177410-5f901600-e34f-11e8-8a66-b1807031c146.png">

solution: only moderators should be able to see this kind of information

[2018-11-08 04:29] gazhayes opened #96 "problem: users associated with an application cannot comment on answers"
problem: users associated with an application cannot comment on answers. This is a problem because the other people in the project may want to contribute more information to the initial application.

[2018-11-08 04:30] gazhayes opened #97 "problem: moderators cannot ask questions about application"
problem: moderators cannot ask questions about application. This is a problem because moderators will often need more information or clarification from the users who are associated with a project.

[2018-11-08 08:34] anbud commented on #96
@emurgobot claim

[2018-11-08 09:07] anbud commented on #97
I'll do this one as a part of #96. I plan to create an universal commenting system on applications/application fields, and this can easily be added as a part of that.

@emurgobot claim

[2018-11-08 09:15] MadanBhandari opened #98 "Problem : User is not able to login/Signup"
Is this just me or every one getting this ?

I am getting following error on console.

If you have already logged in user, log out and then sign up for another account.

ping @anbud @gazhayes

[2018-11-08 09:16] gazhayes commented on #98
Is that on production or local?

[2018-11-08 09:16] MadanBhandari commented on #95
I am only getting this on log out users :

![emurpas-error](https://user-images.githubusercontent.com/6429311/48188997-164ac100-e365-11e8-8ea1-510b3f01c221.png)

May be #98 has something to do with my system :/

[2018-11-08 09:17] MadanBhandari commented on #98
On local development

[2018-11-08 09:19] gazhayes commented on #98
Ah ok, in that case it could be anything. Are you using Windows? Try nuking the database and see what happens.

[2018-11-08 10:20] gazhayes commented on #95
On production or local?

[2018-11-08 11:34] MadanBhandari commented on #98
I tried by updating meteor to 1.8, resetting meteor by `meteor reset`, still same issue

I am also getting same error on `meteor run --production` as well :/

[2018-11-08 13:22] anbud commented on #98
Hmm, everything is working fine for me locally, on Windows. I'm not sure what's causing the problem. You could try reinstalling Meteor altogether if everything else fails, it may help.

[2018-11-08 13:28] gazhayes commented on #98
Try cloning emurpas into a new directory to eliminate any weird issues with your local copy.

If that doesn't work:
Did you try updating emurpas with the latest version of meteor, or just the version installed on your system but not emurpas itself?

[2018-11-09 00:05] anbud commented on #97
Done in #99.

@emurgobot done

[2018-11-09 00:06] anbud opened #100 "Problem: No notification system"
Problem: There's no notification system, so there's no way to notify users if moderators add questions or rate their application answers.

Solution: Implement a simple notification system, recycle code from existing Emurgo projects

[2018-11-09 00:06] anbud commented on #100
@emurgobot claim

[2018-11-09 01:34] gazhayes commented on #100
Better to not notify them of ratings but only comments (too many messages will make them just ignore them all)

[2018-11-09 02:19] #96 closed

[2018-11-09 02:20] #97 closed

[2018-11-09 02:23] gazhayes opened #101 "problem: questions from mods not distinguished from answers"
problem: questions from moderators are not distinguished from answers/comments from alpplicants (non-moderators). This is a problem because applicants might not notice all of them.

solution: maybe use a different background colour or something like that and also show a symbol next to moderators names

[2018-11-09 04:14] gazhayes opened #102 "problem: user emails are used instead of user names"
problem: user emails are used throughout the site instead of user names

solution: probably ask users for their name at sign up and use this everywhere.

[2018-11-09 08:52] geekyd commented on #101
@emurgobot claim

[2018-11-09 09:52] geekyd commented on #101
Done in #103
@emurgobot done

[2018-11-09 09:55] geekyd commented on #98
Works for me on both linux & macOs. @MadanBhandari Also make sure that you are using a correct mongo database. I faced similar issues while using incorrect `MONGO_URL`

[2018-11-09 09:55] geekyd commented on #102
@emurgobot claim

[2018-11-09 10:34] geekyd commented on #102
Done in #104
@emurgobot done

[2018-11-09 11:21] #101 closed

[2018-11-09 11:21] #102 closed

[2018-11-09 11:23] gazhayes opened #105 "problem: moderators cannot change rating of questions"
problem: once a moderator has rated a question, they can't change that rating.

[2018-11-09 11:25] gazhayes opened #106 "problem: moderators cannot leave internal comments on answers"
problem: sometimes moderators will want to leave comments that only other moderators can see, right now all of their questions are viewable by the applicants.

[2018-11-09 11:29] gazhayes opened #107 "problem: moderators cannot delegate their vote to another moderator"
problem: some moderators have expertise in different fields. For example one moderator might be great at tech stuff and another one might be good at business stuff. The guy who's good at business stuff might want to just delegate certain types of questions to the guy who's good at tech stuff.

solution: the solution can be global for each question type rather than each individual application.

any

[2018-11-09 11:30] gazhayes opened #108 "problem: not sure if Mihaly knows about this repo"
ping @porcellus

[2018-11-09 11:44] geekyd commented on #105
@emurgobot claim

[2018-11-09 12:49] anbud commented on #100
Hmm, you're right, ratings would create too many notifications. So, we'll notify only for comments for now.

[2018-11-09 15:06] geekyd commented on #105
Done in #109

@emurgobot done

[2018-11-09 15:08] #105 closed

[2018-11-09 19:36] porcellus commented on #106
@emurgobot claim

[2018-11-09 20:44] porcellus commented on #106
@emurgobot done in #110

[2018-11-09 20:50] porcellus opened #111 "Problem: comment form doesn't close after success"
This can give the impression, that the comment wasn't saved.
Solution: make it close if the user successfully commented/replied

[2018-11-09 20:51] porcellus commented on #111
@emurgobot claim

[2018-11-09 21:01] porcellus commented on #111
@emurgobot done in #112

[2018-11-09 21:33] #111 closed

[2018-11-09 22:16] anbud commented on #107
@emurgobot claim

[2018-11-09 22:20] anbud commented on #100
Done in #113.

@emurgobot done

[2018-11-10 03:51] MadanBhandari commented on #95
@anbud only checking logged-in user before subscription seems to working.

[2018-11-10 04:34] MadanBhandari commented on #95
@emurgobot done in #114

[2018-11-11 01:30] anbud commented on #107
Done in #115.

@emurgobot done

[2018-11-11 01:31] anbud commented on #98
@MadanBhandari, I believe that #115 should fix this issue for you. I've managed to reproduce it, I believe I've fixed the root cause there.

[2018-11-11 01:32] #108 closed

[2018-11-11 01:32] anbud opened #116 "Problem: No client-side tests for the delegation system"
Problem: No client-side tests for the delegation system

Solution: Add client-side tests.

[2018-11-11 01:33] anbud commented on #116
@emurgobot claim

[2018-11-11 21:28] anbud commented on #116
Done in #117.

@emurgobot done

[2018-11-11 21:35] anbud opened #118 "Problem: Each step of user info form is stored separately"
Problem: Each step of user info form is stored separately in the `userQuestions` collection. First has 8 fields, the second one has 12 and the third one has 16 fields.

Solution: Find the root cause and fix it.

[2018-11-11 21:35] anbud commented on #118
@emurgobot claim

[2018-11-12 01:52] MadanBhandari commented on #98
Yes, this is resolved now. btw what's the cause @anbud ?

[2018-11-12 01:52] #98 closed

[2018-11-12 01:58] MadanBhandari opened #120 "Problem : Navigation broken on small screen"
Problem : Navigation broken on small screen
![emrupas-top-nav](https://user-images.githubusercontent.com/6429311/48322223-79ca3c80-e64c-11e8-8261-4dab94047d8b.png)

[2018-11-12 01:58] MadanBhandari commented on #120
@emurgobot claim

[2018-11-12 03:19] #95 closed

[2018-11-12 03:19] #106 closed

[2018-11-12 03:19] #107 closed

[2018-11-12 03:19] #116 closed

[2018-11-12 03:19] #118 closed

[2018-11-12 03:21] gazhayes opened #121 "problem: delegates don't know they are delegates"
problem: when a moderator delegates a question to another moderator, it's not clear to the other moderator that someone just delegated a question to them.

solution: display something to the moderator showing them that they have been delegated this question and by who

[2018-11-12 03:22] gsovereignty opened #122 "problem: moderators can delegate questions to themselves"
problem: moderators can delegate questions to themselves

[2018-11-12 03:25] gazhayes opened #123 "problem: moderators can accidentally delete applications"
problem: moderators can accidentally delete applications

solution: instead of deleting applications, allow moderators to hide them (but still remain viewable to everyone else).

[2018-11-12 03:38] gazhayes opened #124 "problem: no favicon"
problem: there's no favicon or app icon etc

solution: used the attached

[emurpas_icon.zip](https://github.com/EmurgoHK/emurpas/files/2570440/emurpas_icon.zip)

[2018-11-12 04:38] MadanBhandari commented on #124
@emurgobot claim

[2018-11-12 06:17] AshHimself commented on #123
@emurgobot claim

[2018-11-12 06:18] AshHimself commented on #123
@gazhayes - So removing it hide it for that moderator? or all? What is the purpose then of hiding it? Just so I can understander the use case :)

[2018-11-12 06:20] anbud commented on #122
Hmm, this is weird, I can't reproduce it locally. Also, the mongo query has
[code]
so it shouldn't be happening.

[2018-11-12 06:24] #122 closed, assigned to nobody

[2018-11-12 06:29] gazhayes commented on #123
Make an account on production and I'll make u a moderator

[2018-11-12 06:40] anbud commented on #121
Hmm, this is how it should already look like if someone delegates you:
![image](https://i.imgur.com/7hlGOpd.png?1)

That's how it works locally. If it's not working correctly in production, I'll check out what can be the cause. :)

[2018-11-12 06:42] gazhayes commented on #121
Ah ok, could be legacy database issues or something on production

[2018-11-12 06:53] cathfung opened #125 "problem: user can't review User Question they had submited"
They can't modify or check what they had input for User Question

[2018-11-12 06:55] cathfung opened #126 "problem: User Question can be submit without Application"
Website pop user into "User Question" after they finished "Application"(which considered as Part 1),
but user can also fill in "User Question"  without priorly finished "Application"

[2018-11-12 06:56] AshHimself commented on #123
What's the URL :) I am a moderator locally though. I may just be stupid :P

[2018-11-12 08:15] gazhayes commented on #123
/moderator/applications

[2018-11-12 11:53] anbud commented on #125
@emurgobot claim

[2018-11-12 15:09] MadanBhandari commented on #124
@emurgobot done in #127

[2018-11-12 15:29] MadanBhandari commented on #120
@emurgobot done in #128

[2018-11-13 03:21] #120 closed

[2018-11-13 03:21] #124 closed

[2018-11-13 03:22] gazhayes commented on #126
The exception to this is when users have been attached to an application (member of a team that already has an application).

[2018-11-13 03:23] gazhayes opened #129 "problem: moderators can submit new applications and personal data"
problem: moderators can submit new applications and personal data.

Moderators never need to do this, so we can entirely remove it from their view and send them directly to /moderator/applications

[2018-11-13 03:32] #121 closed

[2018-11-13 04:19] cathfung opened #130 "problem: no introduction page"
potential applicant doesn't have detail understanding of how does this acceleration works

[2018-11-13 04:20] cathfung opened #131 "problem: no FAQ or guideline for this website"

[2018-11-13 04:24] cathfung opened #132 "problem: no application status description"
eg:  draft, in progress(We will review within 2 weeks), reviewed(Your application was reviewed, please answer the questions raised by moderator), accept/reject(You can resubmit application)

suggestion: let users mouse over status for a description so the interface won't seem too much

[2018-11-13 04:25] cathfung opened #133 "problem: moderators cannot search through applications"
(by application status, by email, by applicant name, by company etc…)

[2018-11-13 04:27] cathfung opened #134 "problem: “Dashboard” on top doesn’t work i"
<img width="760" alt="ux-dashboard-wont-work" src="https://user-images.githubusercontent.com/44600923/48390988-83809c80-e73f-11e8-855d-f057970a3d12.png">

[2018-11-13 04:34] cathfung opened #135 "problem: applicant can’t save their progress when filling forms"
they need to complete the whole section of the form to save their progress
but not allow to save "question by question"

<img width="604" alt="ux-no-save-for-each-question" src="https://user-images.githubusercontent.com/44600923/48391167-65676c00-e740-11e8-898c-d8e5466e2126.png">

[2018-11-13 04:38] cathfung opened #136 "problem: "save" and "edit" option for filling form is not obvious"
eg: "Save" was implied by "Next" button, "Edit" was implied by inputting new data into comment box directly

<img width="724" alt="ux-no-obvious-button" src="https://user-images.githubusercontent.com/44600923/48391332-12da7f80-e741-11e8-9d42-6c40a92968c1.png">

[2018-11-13 04:41] cathfung opened #137 "problem: users can’t view their name"
users don't know which account they are logging in

[2018-11-13 04:44] gazhayes commented on #131
An introduction should probably be enough for this without needing FAQ.

[2018-11-13 04:51] cathfung opened #138 "problem: hamburger menu doesn't work"
<img width="784" alt="ux-humberger-dont-work" src="https://user-images.githubusercontent.com/44600923/48391690-c2642180-e742-11e8-8a9e-e2cc8dab193b.png">
no response after clicked

[2018-11-13 04:54] MadanBhandari commented on #138
@emurgobot claim

[2018-11-13 05:10] MadanBhandari commented on #134
@emurgobot claim

[2018-11-13 05:10] MadanBhandari commented on #138
@emurgobot done in #139

[2018-11-13 05:13] MadanBhandari commented on #134
@emurgobot done in #140

[2018-11-13 05:17] MadanBhandari commented on #137
@emurgobot claim

[2018-11-13 05:19] gazhayes commented on #132
As users will only really be looking at one application form (their own), the status message can be displayed under the application form (or whatever), the UI should be fine without using mouseover (which causes problems on tablets).

Status messages:
Incomplete application form (when users haven't finished the form)
Waiting for team members to complete personal information (when not all team memb

[2018-11-13 05:20] #134 closed

[2018-11-13 05:20] #138 closed

[2018-11-13 05:20] #131 closed

[2018-11-13 05:32] gazhayes opened #141 "problem: favicon is crappy"
problem: favicon (and app icon etc) looks crappy.

solution: update to the one attached.

[21f2f90160a5ba369477ae7432c8c34f.ico.zip](https://github.com/EmurgoHK/emurpas/files/2574731/21f2f90160a5ba369477ae7432c8c34f.ico.zip)

[2018-11-13 05:37] MadanBhandari commented on #137
@emurgobot done in #142

[2018-11-13 05:38] MadanBhandari commented on #141
@emurgobot claim

[2018-11-13 05:41] #137 closed

[2018-11-13 05:45] MadanBhandari commented on #141
@emurgobot done in #143

[2018-11-13 05:45] #141 closed

[2018-11-13 05:47] MadanBhandari commented on #129
@emurgobot claim

[2018-11-13 06:22] cathfung opened #144 "problem: application ID number is hard to follow up"
ordered string is more useful than the random string

<img width="847" alt="ux-application-id-no-is-hard" src="https://user-images.githubusercontent.com/44600923/48394668-69e75100-e74f-11e8-99ec-37ce6a8f6a41.png">

[2018-11-13 07:51] MadanBhandari commented on #129
@emurgobot done in #145

[2018-11-13 07:52] MadanBhandari commented on #129
@emurgobot done

[2018-11-13 07:54] MadanBhandari commented on #132
@emurgobot claim

[2018-11-13 07:58] #129 closed

[2018-11-13 09:00] gazhayes opened #147 "problem: Cannot read property 'emails' of undefined"
problem: Exception in template helper: TypeError: Cannot read property 'emails' of undefined

[/moderator/applications]

[2018-11-13 09:02] gazhayes commented on #144
Simplest solution is probably to just use sequential numbers.

[2018-11-13 11:46] MadanBhandari commented on #132
@gazhayes I have few questions :
1. How moderators reject application ? There is only remove option (which deletes the application)
2. When moderators left a question, only reply or any comments on that question by applicant should be considered as answer ?

[2018-11-13 11:50] MadanBhandari commented on #147
@emurgobot claim

[2018-11-13 11:58] MadanBhandari commented on #147
@emurgobot done in #148

[2018-11-13 12:00] MadanBhandari commented on #144
@emurgobot claim

[2018-11-13 12:32] MadanBhandari commented on #144
@emurgobot claim

[2018-11-13 21:05] anbud commented on #126
I'll do this one as a part of #125.

@emurgobot claim

[2018-11-13 23:10] anbud commented on #125
Done in #149.

[2018-11-13 23:10] anbud commented on #126
Done in #149.

[2018-11-13 23:11] anbud commented on #133
@emurgobot claim

[2018-11-14 00:00] anbud commented on #133
Done in #150.

[2018-11-14 00:02] anbud commented on #132
@MadanBhandari, in #150, I've used `status` field for searching through status description. If this changes, update it in `modApplications.js`. :)

[2018-11-14 01:41] #147 closed

[2018-11-14 01:41] #133 closed

[2018-11-14 01:42] #126 closed

[2018-11-14 01:42] #125 closed

[2018-11-14 03:54] gazhayes opened #151 "problem: when moderator signs out they are shown a 404 page"
problem: when moderator signs out they are shown a 404 page

solution: redirect to / after sign out.

[2018-11-14 04:00] gazhayes opened #152 "problem: rating display can be very long"
problem: rating display (floating point number) can be very long.

<img width="1393" alt="screenshot 2018-11-14 at 11 57 11 am" src="https://user-images.githubusercontent.com/8143945/48459281-8d200800-e804-11e8-9559-bac3b8480170.png">

possible solution: Math.round in the UI, I guess 2 decimal places should be ok.

[2018-11-14 04:51] #152 closed

[2018-11-14 04:59] gazhayes opened #153 "problem: nominal ratings are difficult to compare"
problem: when moderators rate answers, it's difficult for them to consider what they are really comparing it to. For example, they might think an answer is a 7, but only in comparison to many other answers they've seen before. But that means the rating should actually change in future based on future answers on new applications. This means over time, good answers could be rated lower than bad answ

[2018-11-14 07:00] anbud commented on #153
Yap, this one is fun. :)

@emurgobot claim

[2018-11-14 11:48] gazhayes opened #154 "problem: moderators cant quickly see length of application"
problem: moderators cannot quickly see how much effort an applicant has put into their application form before they start reviewing it.

solution: use a synced cron to count the total length of all application answers. Rank each application by length. Take the rank and divide by the total number of applications to get a normalized rating. Display this in the UI somewhere (probably in the table whe

[2018-11-14 12:44] AshHimself commented on #123
Fixed in #155
@emurgobot label "done"
@emurgobot done

[2018-11-14 12:45] AshHimself commented on #154
@emurgobot claim

This looks fun.

[2018-11-14 12:53] AshHimself commented on #154
@gazhayes - Is there a reason it needs to be a cron job? Can't we just do this calculation once they send their application? or can they add to the application once a moderator starts reviewing it? Sorry for daft questions getting familiar with the emurpas codebase.

[2018-11-14 13:12] porcellus commented on #135
Would automatically saving every modification as they enter it be ok or do we want a save button?

[2018-11-14 14:05] porcellus commented on #151
@emurgobot claim

[2018-11-14 14:11] gazhayes commented on #135
I think automatic saving would be ok, maybe put like a tick or something next to the field to indicate it's been saved and has passed validation.

[2018-11-14 14:56] porcellus commented on #151
@emurgobot done in #156

[2018-11-14 14:57] porcellus opened #157 "Problem: Errors from publications during logout"
There are a few errors that pop up during logout.
![image](https://user-images.githubusercontent.com/1129990/48490494-dcc2fb80-e825-11e8-80da-b832112532cb.png)
Solution: Return early from these publications if there is no user logged in.

[2018-11-14 14:57] porcellus commented on #157
@emurgobot claim

[2018-11-14 15:09] porcellus commented on #157
@emurgobot done in #158

[2018-11-14 15:09] porcellus commented on #135
@emurgobot claim

[2018-11-14 15:11] #157 closed

[2018-11-14 15:11] #151 closed

[2018-11-14 15:11] #123 closed

[2018-11-14 18:19] anbud commented on #154
Hmm, @AshHimself, you are correct, it can be calculated when an application is received (ranking is recalculated every time an application has been submitted). But, cron would be required if you want to add comments on an application to this calculation. I'm not sure if that's what @gazhayes had in mind, though. :)

[2018-11-14 18:21] anbud commented on #135
Autosave is definitely better UX-wise than a save button, go for it. :)

[2018-11-15 00:55] AshHimself commented on #154
I'll take a page out of the ol @gazhayes book. I'll write the function on submission and if CRON is required than the C4 will take care of it ;)

[2018-11-15 02:04] gazhayes commented on #154
Yep, no actual need for synced cron at this point, I overthought it. Ash you just out C4'd me lol.

[2018-11-15 09:20] cathfung opened #159 "problem: error occurs when "ask questions""
can't process comment for "ask questions" button

an error pops up
<img width="660" alt="error-" src="https://user-images.githubusercontent.com/44600923/48542659-b6bb5b00-e8fa-11e8-9a9b-6b96f7bb99c5.png">

[2018-11-15 10:03] higunjan opened #160 "Problem: Registration page look clumsy"
Problem: Registration page look clumsy, narrow then screen size.
![registration page look odd](https://user-images.githubusercontent.com/6925531/48545511-12cab300-e8ec-11e8-8c52-bfc33d8ae5b2.png)

Solution: Need to increase bit size of registration card.

[2018-11-15 10:03] higunjan commented on #160
@emurgobot claim

[2018-11-15 10:08] higunjan opened #161 "Problem: Registration email validation not exist"
Problem: On registration page in email input user can enter name or any text and submit would be successfully inserted.

Solution: Need to add validation for proper email.

[2018-11-15 10:08] higunjan commented on #161
@emurgobot claim

[2018-11-15 10:16] higunjan commented on #160
@emurgobot done

[2018-11-15 10:57] higunjan commented on #161
@emurgobot done

[2018-11-15 12:01] anbud commented on #159
Since I'm changing this page anyway in #153, I'll fix this there as well.

@emurgobot claim

[2018-11-15 13:48] porcellus opened #164 "Problem: user questions data not loaded on resume"
This error appears in console: ![image](https://user-images.githubusercontent.com/1129990/48556883-756c8080-e8e5-11e8-9371-1bf51fa6de40.png)
Solution: fix when and how we add data to the form

[2018-11-15 13:49] porcellus commented on #164
@emurgobot claim

[2018-11-15 14:38] porcellus commented on #164
@emurgobot done in #165

[2018-11-15 16:08] anbud commented on #159
Fixed in #166.

@emurgobot done

[2018-11-15 16:10] anbud commented on #153
Done in #166.

The UI could probably use some love, and I'll add required tests in a separate issue. But the basic functionality is there, I've used the suggested layout and rewired delegation and commenting.

@emurgobot done

[2018-11-15 16:10] anbud opened #167 "Problem: No tests for the ELO system"
Problem: No tests for the ELO system

Solution: Add client-side and server side tests

[2018-11-15 16:10] anbud commented on #167
@emurgobot claim

[2018-11-15 21:46] #164 closed

[2018-11-16 05:38] #153 closed

[2018-11-16 05:38] #159 closed

[2018-11-16 05:38] #160 closed

[2018-11-16 05:38] #161 closed

[2018-11-16 19:16] porcellus commented on #135
@emurgobot done in #168

[2018-11-16 19:25] porcellus opened #169 "Problem: new application tests are failing"
They are also very slow, we could speed them up in the same go.
Solution: fix tests up

[2018-11-16 22:05] MadanBhandari commented on #144
On it

[2018-11-17 00:57] porcellus commented on #169
@emurgobot done in #170

[2018-11-17 00:57] #169 closed

[2018-11-17 08:01] #135 closed

[2018-11-17 08:01] #144 closed

[2018-11-17 09:11] AshHimself commented on #154
@emurgobot yeh mate i'm still on it, just hitting the whiskey this weekend so no time for coding.

[2018-11-17 22:06] anbud commented on #167
Of course, I'm on it. :)

[2018-11-17 22:54] anbud commented on #47
I've just noticed that this one is fixed, probably in #168.

[2018-11-17 23:38] anbud commented on #167
Done in #172.

@emurgobot done

[2018-11-17 23:39] #167 closed

[2018-11-18 03:42] higunjan opened #173 "Problem: Profile setting not available"
Problem: User Icon, `view profile` and `edit profile` not exist required to update data.
![view profile is not available](https://user-images.githubusercontent.com/6925531/48668387-f3ad6a80-eb11-11e8-948d-f9d9a8bf7c37.png)

Solution: Need to add that.

[2018-11-18 03:42] higunjan commented on #173
@emurgobot claim

[2018-11-18 05:51] higunjan commented on #173
@emurgobot done

[2018-11-18 10:59] Pagebakers commented on #47
Sorry I didn't catch your comment before. Currently not looking for any gigs, but thanks for asking :)

[2018-11-18 11:47] higunjan opened #175 "Problem: [View Profile] Table look odd"
Problem: [View Profile] Applications and user info table looks odd with `grey` background should be white for better visual.
![look odd in grey background](https://user-images.githubusercontent.com/6925531/48671967-d26e6d80-eb55-11e8-8359-ed4d477ecfdc.png)

Solution: Need to update class or apply background color of that.

[2018-11-18 11:47] higunjan commented on #175
@emurgobot claim

[2018-11-18 12:05] higunjan commented on #175
@emurgobot done

[2018-11-18 14:16] AshHimself commented on #154
Fixed in #177
@emurgobot label "done"
@emurgobot done

[2018-11-18 14:18] AshHimself opened #178 "problem: wizard not scrolling up on clicking next"
problem: wizard not scrolling up on clicking next

solution: ensure page is at top when starting on a new step in the wizard

[2018-11-18 14:18] AshHimself commented on #178
@emurgobot claim

[2018-11-19 03:47] #154 closed

[2018-11-19 03:47] #173 closed

[2018-11-19 03:47] #175 closed

[2018-11-19 04:07] cathfung opened #179 "problem: no contact page"
moderators and applicant can't report when facing trouble and error

[2018-11-19 05:51] AshHimself commented on #178
Fixed in #180
@emurgobot label "done"
@emurgobot done

[2018-11-19 06:17] AshHimself opened #181 "problem: application weight UI is ugly"
problem: application weight UI is ugly and its not easy to see how long or how much effort went into an application just how long it is

solution: make something fancy

[2018-11-19 06:17] AshHimself commented on #181
@emurgobot claim

[2018-11-19 08:07] cathfung opened #182 "problem: wording of "user questions" is confusing"
user think this is "questions by Users" a rather than filling user information(user profile), doesn't make sense to them

[2018-11-19 08:41] AshHimself commented on #181
Fixed in #183
@emurgobot label "done"
@emurgobot done

[2018-11-19 09:25] cathfung opened #184 "problem: applications disappeared after logged out"
This only happens to Applicant account

All in progress application were gone after the applicant logged out

Entries for example:

<img width="1274" alt="1119-application-gone" src="https://user-images.githubusercontent.com/44600923/48697677-1e85e480-ec20-11e8-84e1-f4d2b8413da2.png">

[2018-11-19 09:30] anbud commented on #179
@emurgobot claim

[2018-11-19 11:30] gunjan-bvi commented on #182
@emurgobot claim

[2018-11-19 11:32] higunjan commented on #182
@emurgobot claim

[2018-11-19 12:37] #178 closed

[2018-11-19 12:37] #181 closed

[2018-11-19 14:04] anbud commented on #179
Done in #185.

@emurgobot done

[2018-11-20 03:34] cathfung opened #186 "problem: users need to login for contact page"
it is not helpful for those users having problem to login

[2018-11-20 04:17] #179 closed

[2018-11-20 04:19] gazhayes opened #187 "problem: application weight number is too long"
problem: application weight number is too long

solution: use a graphical indication instead of a number

[2018-11-20 04:49] higunjan commented on #186
@emurgobot claim

[2018-11-20 04:56] higunjan commented on #182
@emurgobot done

[2018-11-20 05:04] AshHimself commented on #187
@emurgobot claim

[2018-11-20 05:43] higunjan commented on #186
@emurgobot done

[2018-11-20 05:45] higunjan commented on #184
@emurgobot claim

[2018-11-20 09:24] cathfung opened #190 "problem: no place to follow up "delegated question""
or no emails notification sent when questions delegated to specific moderator

therefore the delegated moderator do not know 1) he was responsible for that question 2)where to follow up batches of assigned questions

[2018-11-21 07:30] cathfung opened #191 "problem: applicant can comment on application id"
it doesn't make sense

<img width="1265" alt="ux-why-can-comment-id" src="https://user-images.githubusercontent.com/44600923/48825437-52891300-eda2-11e8-9c5c-2ba0443c8bcd.png">

[2018-11-21 08:09] #182 closed

[2018-11-21 08:09] #186 closed

[2018-11-21 13:21] higunjan commented on #184
After so much debugging I found that `elo cron` running every 10 minute for update `eloRanking`. Previously which `.update` query fire then every 10 second it delete record of participant How I don't know exactly.

Solution: Used `upsert` instead of `update`.

Using `upsert` it solved but I think this is not proper way to do it. @MadanBhandari & @anbud Please check and can you elaborate issue

@em

[2018-11-22 04:22] higunjan opened #194 "Problem: [new appication] not scroll to top when click on next."
Problem: While creating new application, user click on next then next page stay in middle or bottom.

Solution: Should be scroll top when click on `next` or `back`.

[2018-11-22 04:44] higunjan commented on #194
@emurgobot done

[2018-11-22 04:44] #184 closed

[2018-11-22 04:44] #194 closed

[2018-11-22 04:44] #191 closed

[2018-11-22 04:44] #190 closed

[2018-11-22 04:45] gazhayes commented on #190
This is actually ok because when the moderator starts rating applications it tells them that this question has been delegated to them. They don't need to know ahead of time, only need to know when they start ranking the answers.

[2018-11-22 04:54] gazhayes opened #196 "problem: existing user data not populated"
problem: existing user data such as email address is not populated for existing users (only for new users).

<img width="699" alt="screenshot 2018-11-22 at 12 50 05 pm" src="https://user-images.githubusercontent.com/8143945/48882433-3d20f100-ee55-11e8-83e4-e06f455e72f1.png">

[2018-11-22 04:55] #196 closed

[2018-11-22 08:03] cathfung opened #197 "problem: applicant can skip filling "user information""
they can keep ignoring and not filling "user information" because the system didn't force them to fill even after application submitted

[2018-11-23 04:19] cathfung opened #198 "problem: no filtering for application search bar"
no filter for dates, application number, weight, status

[2018-11-23 08:04] anbud commented on #198
@emurgobot claim

[2018-11-23 08:17] cathfung opened #199 "problem: application author changed"
"emurgocath@gmail.com" was the original applicant for no.8 application,
but then this submitted application record also appeared at "catherinemika@hotmail.com" and it can be commented by "catherinemika@hotmail.com" just like a normal applicant.

After  commented by "catherinemika@hotmail.com", the record was disappeared in "emurgocath@gmail.com" account, and just owned by "catherinemika@hotmail.co

[2018-11-23 13:13] anbud commented on #198
Done in #200.

@emurgobot done

[2018-11-23 13:13] anbud commented on #199
I'll check it out.

@emurgobot claim

[2018-11-24 05:10] AshHimself commented on #187
Fixed in #201
@emurgobot label "done"
@emurgobot done

[2018-11-24 07:00] AshHimself opened #202 "problem: cannot open profile"
problem: cannot open profile typeError: Cannot read property 'bio' of undefined

solution: resolve helper issue

[2018-11-25 03:48] higunjan commented on #184
@gazhayes Please reopen these issue, solution might affect other functionality.
@emurgobot claim

[2018-11-26 10:40] akatrodiya commented on #136
@emurgobot cliam

[2018-11-26 22:51] anbud commented on #199
Done in #204.

@emurgobot done

[2018-11-26 22:53] anbud commented on #202
@AshHimself, this one is completed in #203, right?

[2018-11-26 22:53] anbud commented on #197
@emurgobot claim

[2018-11-27 14:48] akatrodiya commented on #136
i checked couple of times.. it worked for me like you mentioned but I saw, it's throwing exceptions there

@cathfung  If you explain me little more about problem, i can find solution accordingly.

[2018-11-28 04:50] higunjan commented on #184
@emurgobot done

[2018-11-29 04:53] higunjan opened #207 "Problem: Dashboard redirect to userInfo page"
Problem: When from any tab we click on dashboard then unfortunately even after filling userInfo, that will redirect to userInfo page.

[2018-11-29 04:54] higunjan commented on #207
@emurgobot claim
looking for solutions, if form is not filled then need to move if filled then show dashboard with applications.

[2018-11-29 05:10] higunjan opened #208 "Problem: UserInfo not saved"
Problem: After application completed when try to submit user information it's show prompt "saved successfully" but it's not showing on dashboard or user information tab.

Solution: Looking.

[2018-11-29 05:10] higunjan commented on #208
@emurgobot claim

[2018-11-29 05:56] akatrodiya commented on #136
@emurgobot claim

[2018-11-29 10:34] higunjan commented on #208
@emurgobot done

[2018-11-29 17:42] MadanBhandari commented on #132
@emurgobot abandon

[2018-11-30 12:38] geekyd commented on #132
@emurgobot claim

[2018-12-02 11:15] higunjan commented on #207
I've tried updating `imports/ui/pages/home/home.js` after multiple tried I found that If I move from one tab to home `/` then found different result.

Please someone take it.

@emurgobot abandon

[2018-12-02 18:59] geekyd commented on #132
Done in #210
@emurgobot Done

[2018-12-03 21:52] porcellus commented on #207
@emurgobot claim

[2018-12-04 02:42] cathfung opened #211 "problem: application ID number is different"
the one shown within the application is different

<img width="914" alt="screenshot 2018-12-04 at 10 34 36 am" src="https://user-images.githubusercontent.com/44600923/49415284-30838d80-f7b1-11e8-8b06-b2505136772a.png">
<img width="1295" alt="screenshot 2018-12-04 at 10 34 31 am" src="https://user-images.githubusercontent.com/44600923/49415285-30838d80-f7b1-11e8-987c-0fe6ca8e29db.png">

[2018-12-04 23:12] porcellus commented on #207
@emurgobot done in #212

[2018-12-04 23:14] porcellus commented on #211
@emurgobot claim

[2018-12-04 23:20] porcellus commented on #211
@emurgobot done in #213

[2018-12-04 23:24] porcellus opened #214 "Problem: users can submit multiple applications without userinfo"
Also, I think redirection without explanation is not great UX, so I think we should add at least an explanation popup and redirect after it was confirmed.

[2018-12-05 00:03] porcellus commented on #214
see related #197

[2018-12-05 14:40] akatrodiya commented on #136
@cathfung plz add detail as i mentioned above. I'm unclaiming it.

[2018-12-05 14:40] akatrodiya commented on #136
@emurgobot unclaim

[2018-12-06 09:55] porcellus commented on #214
@emurgobot done in #215

[2018-12-06 09:58] porcellus opened #216 "Problem: wdio tests are failing"
![image](https://user-images.githubusercontent.com/1129990/49576618-e849a400-f945-11e8-9971-e1bee702d31c.png)

[2018-12-06 09:59] porcellus commented on #216
@emurgobot claim

[2018-12-07 04:39] #132 closed

[2018-12-07 04:39] #197 closed

[2018-12-07 04:39] #199 closed

[2018-12-07 04:39] #207 closed

[2018-12-07 04:39] #208 closed

[2018-12-07 04:39] #211 closed

[2018-12-07 04:39] #214 closed

[2018-12-08 14:39] porcellus commented on #216
@emurgobot done in #217

[2018-12-09 08:04] #216 closed

[2018-12-10 04:38] #202 closed

[2018-12-11 14:19] akatrodiya commented on #136
@emurgobot claim

[2018-12-12 04:03] akatrodiya commented on #136
@emurgobot claim

[2018-12-12 06:03] cathfung commented on #136
@akatrodiya

 "Save" was implied by "Next" button (the user doesn't know this page can be saved because 'next' doesn't contain an indicator of "Save", so maybe put something similar to "Save and Next page"  )

 "Edit" was implied by inputting new data into comment box directly (the user doesn't know the comment can be edited until they modify and press "next" and go back to check )

[2018-12-12 09:49] gazhayes opened #218 "problem: no content loaded on home route"
problem: no content loaded on home route

<img width="1669" alt="screenshot 2018-12-12 at 5 49 32 pm" src="https://user-images.githubusercontent.com/8143945/49861198-4c80d200-fe36-11e8-8009-25832ac01dce.png">

Is anyone else getting this?

[2018-12-12 12:50] akatrodiya commented on #136
@emurgobot cone in #219

[2018-12-13 04:42] #136 closed

[2018-12-13 05:27] gazhayes opened #221 "problem: meteor cannot bundle app for npm"
problem:
In production we are running the following:
[code]

During the final build process I'm getting these errors. Can anyone else replicate, and any ideas?

[code]

[2018-12-13 15:33] anbud commented on #221
I’ve just tried it, the build command executed successfully, no errors occurred.

[2018-12-13 15:37] gazhayes commented on #221
What's your build system? Versions etc

On Thu, 13 Dec 2018, 23:33 Andrej Budinčević <notifications@github.com
wrote:

[2018-12-13 15:44] anbud commented on #221
Windows 10

Node v10.4.1
NPM v6.1.0

[2018-12-14 08:19] gazhayes commented on #221
Resolved in #222 not sure how/why.

[2018-12-14 08:20] #221 closed

[2018-12-14 10:52] cathfung opened #223 "problem: no input of email in "contact""
admin can't follow up without user contacts

<img width="554" alt="screenshot 2018-12-14 at 6 50 56 pm" src="https://user-images.githubusercontent.com/44600923/49999286-63a7f700-ffd1-11e8-8dcc-fb1b0afc9178.png">

[2018-12-14 13:46] anbud commented on #223
@emurgobot claim

[2018-12-17 02:57] #223 closed

[2018-12-17 02:58] gazhayes commented on #130
Note to self: link landing page of emurpas to accelerator programme introduction page on EmurgoHK website once it's ready.

[2018-12-20 09:57] anbud commented on #86
Hey @emurgobot, I was on it, I was just on a trip. :D

@emurgobot claim

[2018-12-22 15:48] anbud commented on #86
On it, don’t remove me again. :)

[2018-12-24 22:44] anbud commented on #86
I've tried lots of things, but I can't seem to get to the bottom of this.

I believe it's connected to #47, which still hasn't been fixed in the autoform package. When you go back, exceptions spam the console, so I'm guessing that this is the root cause.

Although, I'll abandon it for now if somebody else wants to give it a go.

@emurgobot abandon

[2018-12-27 05:10] gazhayes commented on #86
OK I'll check this out

[2018-12-27 05:20] gazhayes opened #225 "problem: users can create multiple applications"
problem: users can start a new application when they already have one that has been submitted.

solution: keep allowing users to add a new application, but ask them why. There are two possibilities: the previous application is no longer valid; or they have multiple projects.

If the previous application is no longer valid, it should have something set in the collection and not be included in futur

[2018-12-27 05:27] gazhayes opened #226 "problem: new users not given context for existing application"
problem: new users who are team members of an existing application are directed to this modal as soon as they create an account:

<img width="656" alt="screenshot 2018-12-27 at 1 22 28 pm" src="https://user-images.githubusercontent.com/8143945/50466849-ab1f8180-09da-11e9-9122-440d39a5a559.png">

This can be confusing for a new user because no context is given.

solution: I suppose we should show t

[2018-12-27 09:56] geekyd commented on #225
@emurgobot claim

[2018-12-28 15:41] anbud commented on #226
@emurgobot claim

[2018-12-30 11:50] geekyd commented on #225
@emurgobot On it :)

[2019-01-01 05:19] akatrodiya opened #227 "Problem: [Contact] email input accept any string, no validation"
Problem: [Contact] email input accept any string, no validation there

Solution: email should check value will match email validation always

[2019-01-01 05:19] akatrodiya commented on #227
@emurgobot claim

[2019-01-01 05:56] akatrodiya commented on #227
@emurgobot done in #228

[2019-01-01 05:56] akatrodiya opened #229 "Problem: [Contact] without login, it should not access like other pages"
Problem: [Contact] without login, it should not access like other pages

Solution: Redirect to login if not logged in as it works for other pages

[2019-01-01 05:56] akatrodiya commented on #229
@emurgobot claim

[2019-01-01 06:13] akatrodiya opened #230 "Problem: [Login] Page having horizontal scroll"
Problem: [Login] Page having horizontal scroll
![screenshot 2019-01-01 at 11 39 39 am](https://user-images.githubusercontent.com/15026463/50570687-66209400-0dba-11e9-9286-07fd39f3dc78.png)

Solution: Remove scroll and fit it in window container

[2019-01-01 06:14] akatrodiya commented on #229
@emurgobot done in #231

[2019-01-01 06:14] akatrodiya commented on #230
@emurgobot claim

[2019-01-01 06:34] akatrodiya commented on #230
@emurgobot done in #232

[2019-01-01 12:41] anbud commented on #226
Come on, @emurgobot, don’t unassign me, it’s the holiday season. :)

I’m on it, it’ll be done later today or tomorrow.

@emurgobot claim

[2019-01-03 18:10] geekyd commented on #225
@emurgobot claim

[2019-01-06 16:45] geekyd commented on #225
@emurgobot Sending a PR for this soon :)

[2019-01-06 19:00] geekyd commented on #225
Done in #233

@emurgobot done

[2019-03-30 12:36] #225 closed

[2019-03-30 12:37] porcellus opened #236 "Problem: Potentially vulnerabe dependencies"
Solution: triage issues, upgrade where possible.

[2019-03-30 12:37] porcellus commented on #236
@emurgobot claim

[2019-03-30 12:52] porcellus commented on #236
@emurgobot done in #237

[2019-03-30 12:53] porcellus commented on #226
@emurgobot claim

[2019-03-30 19:08] porcellus opened #238 "Problem: registration doesn't work locally"
Internal error: `Exception while invoking method 'createUser' TypeError: (i.team_members || []).map is not a function`

[2019-03-30 19:08] porcellus commented on #238
@emurgobot claim

[2019-03-30 19:18] porcellus commented on #238
@emurgobot done in #239
Looks like it was some local DB issue, a bad entry got in. I made user-creation more robust anyway.

[2019-03-30 19:54] porcellus commented on #226
@emurgobot done in #240
This took longer than expected, as I had a few problems with just starting up the project... :/

[2019-03-30 19:58] porcellus opened #241 "Problem: duplicate publish"
Warning during startup: `Ignoring duplicate publish named 'userQuestions'`.
Solution: the duplicate should be removed and the usages investigated

[2019-03-30 19:59] porcellus commented on #241
@emurgobot claim

[2019-03-30 20:06] porcellus commented on #241
@emurgobot done in #242
Upon reviewing this and the usages, it looks like users may be able to access answers by any other user. I'll investigate this in a separate issue.

[2019-03-30 20:43] porcellus opened #243 "Problem: too broad publications are a security issue"
E.g.: UserQuestion answers are published to all users even if they are unrelated.
Solution: review publications and tighten them to only publish the necessary data.

[2019-03-30 20:43] porcellus commented on #243
@emurgobot claim

[2019-03-30 21:40] #241 closed

[2019-03-30 21:40] #236 closed

[2019-03-30 21:40] #226 closed

[2019-03-30 21:40] #238 closed

[2019-04-02 06:51] porcellus commented on #243
@emurgobot on it :)

[2019-04-04 11:05] porcellus commented on #243
@emurgobot done in #244

[2019-04-04 11:08] porcellus opened #245 "Problem: error in sidebar.js:68: Swal is not defined"
Solution: fix the typo

[2019-04-04 11:08] porcellus commented on #245
@emurgobot claim

[2019-04-04 11:14] porcellus commented on #245
@emurgobot done in #246

[2019-04-04 11:15] #243 closed

[2019-04-04 11:16] porcellus opened #247 "Problem: new application in sidebar doesn't redirect properly"
It doesn't redirect logged out users or users who have an active application

[2019-04-04 13:59] porcellus commented on #247
@emurgobot claim

[2019-04-04 13:59] porcellus commented on #247
@emurgobot done in #248

[2019-04-04 14:00] porcellus opened #249 "Problem: users can't update applications"
I don't know if this is intentional or how it fits into the existing workflow, but we should at least support "prefilling" a new application based on an old application.

[2019-04-04 14:04] gazhayes commented on #249
It's ok actually, we may end up needing to pull applications from upstream (a platform called f6s) so this may end up not being a problem

[2019-04-04 14:31] porcellus commented on #249
Users can actually edit their applications if they remove the /view from the end of the URL when the view the application. My concern was the while we allow editing it by messing with the URL we don't allow it by normal UI interaction.

[2019-04-04 14:37] gazhayes commented on #249
oh ok yeah may as well add it to the UI then

[2019-04-04 14:39] #245 closed

[2019-04-04 14:39] #247 closed

[2019-04-04 15:02] porcellus commented on #249
@emurgobot claim

[2019-04-04 15:05] porcellus commented on #249
So editing is not a problem? This way users can edit applications after they have been reviewed. We can disallow it and (maybe) allow updates by invalidating + cloning.

[2019-04-04 15:30] porcellus opened #250 "Problem: XSS vulnerability found"
I found an XSS vulnerability active on the site.

[2019-04-04 15:30] porcellus commented on #250
@emurgobot claim

[2019-04-04 16:23] porcellus commented on #250
@emurgobot done in #251

[2019-04-05 02:32] gazhayes commented on #249
Oh, hmmm, no actually editing should not be allowed then. They can comment on questions from reviewers already which should be enough. So I guess just make sure editing is not possible once submitted.

[2019-04-05 11:54] porcellus commented on #249
@emurgobot done in #252

[2019-04-05 11:56] porcellus opened #253 "Problem: not checking permissions when modifying applications"
Found during #249 .
Solution: Add checks to all methods modifying projectquestions/userquestions

[2019-04-05 11:56] porcellus commented on #253
@emurgobot claim

[2019-04-05 12:37] porcellus commented on #253
@emurgobot done in #254

[2019-04-07 16:31] #249 closed

[2019-04-07 16:31] #250 closed

[2019-04-07 16:31] #253 closed